header {
    background-color: #A0A64A;
    margin:-8px;
    height: 100px;
    overflow: hidden;
    font-family: "Italiana", serif;
}

#logo{
    background-color: #A0A64A;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    
  }

  header h1 {
    color: black;
    font-family: "Italiana", serif;
    padding-left: 30px;
    padding-top: 10px;
    font-size: xx-large;
    text-decoration: none;
    width: 100%;
}

#a0 {
    color: black;
    font-family: "Italiana", serif;
    position: relative;
    top: -50px;
    right: -1000px;
    left: 900px;
    text-decoration: none;
    display: inline;
    background-color: #BBCF9B;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
} 

#a1 {
    color: black;
    font-family: "Italiana", serif;
    position: relative;
    text-decoration: none;
    top: -50px;
    right: -1000px;
    left: 950px;
    background-color: #BBCF9B;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
} 

#a2 {
    color: black;
    font-family: "Italiana", serif;
    position: relative;
    text-decoration: none;
    top: -50px;
    right: -1000px;
    left: 1000px;
    text-decoration: none;
    display: inline;
    background-color: #BBCF9B;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
}

#a3 {
    color: black;
    font-family: "Italiana", serif;
    position: relative;
    text-decoration: none;
    top: -50px;
    right: -1000px;
    left: 1050px;
    text-decoration: none;
    display: inline;
    background-color: #BBCF9B;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
}

#a4 {
    color: black;
    font-family: "Italiana", serif;
    position: relative;
    top: -50px;
    right: -1000px;
    left: 1100px;
    text-decoration: none;
    display: inline;
    background-color: #BBCF9B;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    font-weight: bold;
}

u1 {
    font-family: "Italiana", serif;
    text-decoration: none;
    
}

li {
    font-family: "Italiana", serif;
    text-decoration: none;
    display: inline;
    right: 40px;
}

#a0:hover {
    background-color: #BBCF9B;
    color: black;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
  }

#a1:hover {
    background-color: #BBCF9B;
    color: black;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

#a2:hover {
    background-color: #BBCF9B;
    color: black;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

#a3:hover {
    background-color: #BBCF9B;
    color: black;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

#a4:hover {
    background-color: #BBCF9B;
    color: black;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
}

#welcome {
    background-color: #33576E;
    font-family: "Italiana", serif;
    color: white;
    padding: 100px;
    margin-top: 60px;
    margin-left: 270px;
    margin-right: 270px;
    border-radius: 20px;
    text-align: left;
    text-decoration: bold;
}

#currently{
    background-color: #498B6D;
    padding: 45px;
    font-family: "Italiana", serif;
    color: white;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 500px;
    border-radius: 20px;
    border: solid;
    border-width: 2px;
    border-color: black;
    font-weight: 600px;
}

#currentbook {
    margin-top: -150px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: -150px;
    position: relative;
    float: right;
    border: solid;
    border-width: 2px;
    border-color: black;
}

footer {
    margin-top: 300px;
}

.wrapper {
    width: 70%;
    margin-top: 0px;
}

body {
    background-color: #F2F0DE;
    margin-left: 0px;
    margin-right: 0px;
}

hr {
    height: 2px;
    border-width: 0px;
    background-color: black;
    width: 100%;
    margin-top: 100px;
    margin-bottom: -60px;
    color: black;
}

#bar {
    height: 50px;
    background-color: #C7DBE2;
    width: 100%;
    margin-top: -450px;
    border: groove;
    border-color: black;
}

#bar1 {
    height: 50px;
    background-color: #C7DBE2;
    width: 100%;
    margin-top: 40px;
    border: groove;
    border-color: black;
}

#stack {
    background-color: #BBCF9B;
    margin-left: 270px;
    margin-top: 30px;
    padding: 10px;
    padding-right: 200px;
    padding-left: 200px;
    border-radius: 20px;  
}

#recently {
    font-family: "Italiana", serif;
    color: white;
    background-color: #33576E;
    margin-left: 800px;
    margin-right: 350px;
    margin-top: 150px;
    padding-left: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
    font-weight: 600px;
}

#rowone {
    margin-bottom: -250px;
}

#bookone {
    width: 200px;
    height: 300px;
    margin-top: 200px;
    margin-left: 340px;
}

#booktwo {
    width: 200px;
    height: 300px;
    margin-top: 100px;
    margin-left: 50px;
}

#booklast {
    width: 200px;
    height: 300px;
    margin-top: 100px;
    margin-left: 50px;
}

#recentbooks {
    width: 70%;
    align-items: right;
    margin-top: 200px;
}

#recommended {
    font-family: "Italiana", serif;
    background-color: #498B6D;
    color: white;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-weight: 600px;
}

#rectitle0 {
    font-family: "Italiana", serif;
    color: black;
    font-weight: bold;
    margin-left: 290px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
}

#stars0 {
    width: 200px;
    margin-left: 280px;
    margin-top: -40px;
    margin-bottom: -68px;
    position: relative;
    z-index: 2;
}

#recdesc0 {
    font-family: "Cormorant", sans-serif;
    font-weight: bold;
    margin-left: 270px;
    margin-top: -5px;
    margin-right: 650px;
    background-color: #BBCF9B;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 20px;
    border-radius: 20px;
    position: absolute;
}

#bookrec0 {
    width: 300px;
    margin-right: 270px;
    position: relative;
}

#corner0 {
    margin-left: 1250px;
    margin-top: -25px;
}

#rectitle1 {
    font-family: "Italiana", serif;
    color: black;
    font-weight: bold;
    margin-left: 665px;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
}

#stars1 {
    width: 200px;
    margin-left: 90px;
    margin-top: -40px;
    margin-bottom: -68px;
    position: relative;
    z-index: 2;
}

#recdesc1 {
    font-family: "Cormorant", sans-serif;
    font-weight: bold;
    margin-left: 650px;
    margin-top: -5px;
    margin-right: 270px;
    background-color: #BBCF9B;
    padding-top: 80px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 20px;
    border-radius: 20px;
    position: absolute;
}

#bookrec1 {
    width: 300px;
    margin-left: 270px;
    position: relative;
}

#corner1 {
    margin-left: -200px;
    margin-top: 350px;
}

#contacttitle {
    font-family: "Italiana", serif;
    font-size: 60px;
    background-color:#498B6D;
    color: white;
    text-align: center;
}

#contactdesc {
    font-family: "Cormorant", sans-serif;
    font-size: 30px;
    text-align: center;
}

#p6 {
    background-color: #33576E;
    color: white;
    padding: 10px;
    text-align: center;
}